    #titulo{
        font-family: RobotoBold;
    }

    .contImg{
        background: #663BC9;
    }

    #btCancelar{
        margin-right: 10px;
    }
    #btGuardar{
        margin-left: 10px;
    }