<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo1">
      Oriel<span id="titulo2">App</span>
    </ion-title>
  </ion-toolbar>

  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-fab-button mini color="tertiary" (click)="abrirModel()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Arrastra para refrescar" refreshingSpinner="crescent"
      refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-slides #slides (ionSlideTransitionStart)="updateIndicatorPosition();updateCat(slides.getActiveIndex())" (ionSlideWillChange)="updateIndicatorPosition()" (ionSlideDidChange)="updateIndicatorPosition()" #SwipedTabsSlider
    (ionSlideDrag)="animateIndicator($event)">
    <!-- INICIO -->
    <ion-slide style="overflow-y:scroll">
      <ion-card>
        <ion-card-content class="cardInicio">
          <ion-card-title>
            <u>Bienvenido a <span id="titulo1">Oriel</span><span id="titulo2">App</span></u>
          </ion-card-title>
          <span id="subCardInicio">Sube tus imágenes favoritas y guarda las de tus amigos, o vota de entre 
          ellas las que más te guste. ¡Diviertete!</span>
        </ion-card-content>
      </ion-card>
    
      <ion-card *ngFor="let item of listadoPanel.reverse(); let i = index;">
        <ion-card-content><ion-card-title text-left id="tituloCard">
            {{item.title}}
          </ion-card-title>
        </ion-card-content>
        <div class="imgAMostrar">
          <img id="imagenAMostrar" src="{{item.img}}"/>
        </div>
        <ion-row>
          <ion-col text-center>
            <button class="buttonCard" ion-button (click)="meGusta()">
              <ion-icon name="thumbs-up" *ngIf="!visible"></ion-icon> 
              <ion-icon id="iconoLike" name="thumbs-up" *ngIf="visible"></ion-icon>
            </button>
          </ion-col>
          <ion-col text-center>
            <button class="buttonCard" ion-button>
              <ion-icon name="share"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>

    <!-- FAVORITOS -->
    <ion-slide style="overflow-y:scroll">
        dfhdfgh
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="category" (ionChange)="slides.slideTo(category)" 
      style="background-color:var(--ion-color-primary)" color="black">
      <ion-segment-button layout="icon-start" value="0" style="--padding-end:0px;--padding-start:0px">
        <ion-icon name="md-images" style="margin-right:1px;zoom:0.8" color="tertiary"></ion-icon>
        <ion-label id="TitSegment">Inicio</ion-label>
      </ion-segment-button>
      <ion-segment-button layout="icon-start" value="1" style="--padding-end:0px;--padding-start:0px">
        <ion-icon name="md-heart" style="margin-right:1px;zoom:0.8" color="tertiary"></ion-icon>
        <ion-label id="TitSegment">Favoritos</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]=" 
    {'width.%': (100/this.tabs.length)}" style="margin-top:2px"></div>
  </ion-toolbar>
</ion-footer>


  
