.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.buscador{
  color: black;
}

.cardInicio{
  font-family: RobotoBold;
}
  #subCardInicio{
    color: white;
  }

ion-card-title{
  font-size: 18px;
}

.imgAMostrar{
  background-color: #663BC9;
}
  #imagenAMostrar{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #tituloCardInicio{
    color: black;
  }
  #titulo1{
    color: #663BC9;
    font-family: RobotoBold;
  }
  #titulo2{
    color: white;
    font-family: RobotoLight;
  }

  #TitSegment{
    font-family: RobotoBold;
    color: white;
  }

.buttonCard{
  font-size: 20px;
  background: transparent !important;
}
  #iconoLike{
    color: #663BC9;
  }
  #numLikes{
    color: #663BC9;
    font-family: RobotoBold;
  }

ion-slide.swiper-slide {
    display:block;
}
.slides{
    height: 100%;
}

/* barra que indica la navegación entre slides */
.SwipedTabs-indicatorSegment{
  -webkit-transition: 0s all;
  -moz-transition:  0s all;
  -o-transition:  0s all;
  transition:  0s all;
  transform-origin: top 0 left 0;
  height: 3px;
  position: relative;
  top: -1px;
  background-color: var(--ion-color-tertiary) !important;
}

  #tituloCard{
    color: #663BC9;
  }

  .megusta{
    ion-icon{
      color: #663BC9!important;
    }
  }

 



  