<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo1" *ngIf="!isSearchbarOpened">
      Oriel<span id="titulo2" (click)="mostrarBotonEliminar()">App</span>
    </ion-title>
    <ion-searchbar class="buscador" *ngIf="isSearchbarOpened" showCancelButton="true" placeholder="{{'buscar' | translate}}" 
      (ionInput)="getFilteredItem($event, $event)" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMin="100" pullMax="140">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'refresher' | translate}}" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <ion-slides #slides (ionSlideTransitionStart)="updateIndicatorPosition();updateCat(slides.getActiveIndex())" 
    (ionSlideWillChange)="updateIndicatorPosition()" (ionSlideDidChange)="updateIndicatorPosition()" #SwipedTabsSlider
    (ionSlideDrag)="animateIndicator($event)">

    <!-- GALERÍA -->
    <ion-slide style="overflow-y:scroll">
      <ion-card *ngFor="let item of listadoPanel.reverse(); let i = index;" style="background-color: rgb(243, 236, 236)">
        <ion-card-content>
          <ion-card-title text-left id="tituloCard">
            {{item.title}}
          </ion-card-title>
        </ion-card-content>
        <div class="imgAMostrar">
          <img id="imagenAMostrar" src="{{item.img}}"/>
        </div>
        <ion-row>
          <ion-col text-right>
            <button class="buttonCard" ion-button (click)="meGusta(item.id)">
              <ion-icon name="thumbs-up"></ion-icon>
            </button>
          </ion-col>
          <ion-col text-center>
            <button class="buttonCard" ion-button *ngIf="visibleBasura" (click)="eliminarImagen(item.id)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
          <ion-col text-left>
            <button class="buttonCard" ion-button (click)="compartir(item)">
              <ion-icon name="share"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>

    <!-- FAVORITOS -->
    <ion-slide style="overflow-y:scroll">
      <ion-card *ngFor="let item of listadoPanel; let i = index;" style="background-color: rgb(243, 236, 236)">
        <ion-card-content>
          <ion-card-title text-left id="tituloCard">
            {{item.title}}
          </ion-card-title>
        </ion-card-content>
        <div class="imgAMostrar">
          <img id="imagenAMostrar" src="{{item.img}}"/>
        </div>
        <ion-row>
          <ion-col text-right>
            <ion-icon class="buttonCard" id="iconoLike" name="thumbs-up"></ion-icon><span id="numLikes">{{item.contLikes}}</span>
          </ion-col>
          <ion-col text-center>
            <button class="buttonCard" ion-button *ngIf="visibleBasura" (click)="eliminarImagen(item.id)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
          <ion-col text-left>
            <button class="buttonCard" ion-button (click)="compartir(item)">
              <ion-icon name="share"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <!-- Botón flotante -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="padding-bottom: 5px;padding-right: 5px;">
    <ion-fab-button mini color="tertiary" (click)="abrirModel()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="category" (ionChange)="slides.slideTo(category)" 
      style="background-color:var(--ion-color-primary)" color="black">
      <ion-segment-button layout="icon-start" value="0" style="--padding-end:0px;--padding-start:0px">
        <ion-icon name="md-images" style="margin-right:1px;zoom:0.8" color="tertiary"></ion-icon>
        <ion-label id="TitSegment">{{'galeria' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button layout="icon-start" value="1" style="--padding-end:0px;--padding-start:0px">
        <ion-icon name="md-heart" style="margin-right:1px;zoom:0.8" color="tertiary"></ion-icon>
        <ion-label id="TitSegment">{{'favoritos' | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]=" 
    {'width.%': (100/this.tabs.length)}" style="margin-top:2px"></div>
  </ion-toolbar>
</ion-footer>


  
